.circleBase {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
}

input[type=text] {
  width: 150px;
  margin: 0px 0px 0px 5px;
}

body {
}

.submit-btn {
  width: 100%;
  text-align: center;
}

.color-label {
  width: 75px;
  padding-left: 10px;
  display: inline-block;
}

.color-option {
  padding: 2px;
}

#colors-form-buttons {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.colors-form-button {
  margin: 0px 0px 0px 5px;
}
